body {
  text-align: center;
  background: rgb(195,255,153);
  background: linear-gradient(90deg, rgba(195,255,153,1) 0%, rgba(75,84,246,0.9251050762101716) 50%, rgba(195,255,153,1) 100%);
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  6%;
  color: black;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background: rgb(250,8,5);
  background: linear-gradient(90deg, rgba(250,8,5,1) 0%, rgba(200,196,196,1) 50%, rgba(250,8,5,1) 100%);
}

.red {
  background-color: red;
}

.green {
  background-color: #C3FF99;
}

.blue {
  background-color: #89CFFD;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
